<!DOCTYPE html>
<html ng-app="sampleApp">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css' />
    <script type='text/javascript' src='/node_modules/angular/angular.js'></script>
    <script type='text/javascript' src='/node_modules/angular-ui-router/release/angular-ui-router.js'></script>
    <script type='text/javascript' src='/javascripts/core.js'></script>
    <script type='text/javascript' src='/javascripts/controllers/templateController.js'></script>
    <script type='text/javascript' src='/javascripts/controllers/homeController.js'></script>
    <script type='text/javascript' src='/javascripts/controllers/aboutController.js'></script>
    <script type='text/javascript' src='/javascripts/providers/sampleFactory.js'></script>
  </head>
  <body>

  	<div class="container" ng-controller="TemplateCtrl">
  		<div class="row">
    		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 body">
    			<!-- TOP BAR-->
    			<div class="row">
    				<div class="col-xs-12">
    					<!-- NAME BAR -->
    					<div class="row">
    						<div class="col-xs-12">
    							<h1> Mean App </h1>
    						</div>
    					</div>
    					<!-- MENU BAR -->
    					<div class="row">
    						<div class="col-xs-12">
    							<ul class="nav nav-tabs nav-justified">
  									<li role="presentation" ng-class="{active: isActive('/home')}"><a ui-sref="home">Home</a></li>
                    <li role="presentation" ng-class="{active: isActive('/about')}"><a ui-sref="about">About</a></li>
								</ul>
    						</div>
    					</div>
    				</div>
    			</div>

    			<!-- MAIN CONTENT -->
    			<div ui-view></div>

    		</div>
    	</div>
    </div>
  </body>
</html>
