<!DOCTYPE html>
<html ng-app="sampleApp">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/lib/ui-bootstrap-tpls-2.1.3.min.js' />
    <script type='text/javascript' src='/node_modules/angular/angular.js'></script>
    <script type='text/javascript' src='/node_modules/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='/node_modules/bootstrap/dist/js/bootstrap.js'></script>
    <script type='text/javascript' src='/node_modules/angular-ui-router/release/angular-ui-router.js'></script>
    <script type='text/javascript' src='/javascripts/core.js'></script>
    <script type='text/javascript' src='/javascripts/controllers/templateController.js'></script>
    <script type='text/javascript' src='/javascripts/controllers/homeController.js'></script>
    <script type='text/javascript' src='/javascripts/providers/sampleFactory.js'></script>
  </head>
  <body>

  	<div class="container" ng-controller="TemplateCtrl">
  		<div class="row">
    		<div class="col-md-12 body">
    			<!-- TOP BAR-->
    			<div class="row">
    				<div class="col-xs-12">
    					<!-- NAME BAR -->
    					<div class="row">
    						<div class="col-xs-12">
    							<h1> Syntax Checker </h1>
    						</div>
    					</div>
    				</div>
    			</div>

    			<!-- MAIN CONTENT -->
    			<div ui-view></div>

    		</div>
    	</div>
    </div>
  </body>
</html>
